body, html {
    margin: 0;
    padding: 0;
}

main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-inst a {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.block-heading {
    font-size: 35px;
    margin-top: 25px;
}

.block-image img {
    width: 100%;
    height: auto;
}