{% extends "base.html" %}
{% load static %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-genericpage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    <h3>{{ page.banner_title }}</h3>
    <p>
        {{ page.introduction }}
    </p>

    <br>
    <br>
    {% image page.banner_image fill-1400x250 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" style='width: 100%;margin: auto;'>

    <br>
    <h3>
       Page made by:
    </h3>
    <p>
        {{ page.author.name }}
    </p>
    <p>
        {{ page.author.title }}
    </p>
    <p>
        {{ page.author.company_name }}
    </p>

    {% if page.author.company_url %}
    <a href="{{ page.author.company_url }}">
        View website
    </a>
    {% endif %}
    <br>
    {% image page.author.image fill-250x250 as auth_img %}
    <img src="{{ auth_img.url }}" alt="{{ auth_img.alt }}">

    {% include_block page.body %}

{% endblock content %}
